table {
    border-collapse: collapse;
    width: 100%;
}
.mycart .content:after,
.mycart .content:before {
    bottom: 100%;
    left: 20px;
    /*border: solid transparent;*/
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.mycart .content:after {
    /*border-color: rgba(255, 255, 255, 0);*/
    /*border-bottom-color: #fff;*/
    /*border-width: 11px;*/
    margin-left: -6px
}

.mycart .content:before {
    /*border-color: rgba(234, 234, 234, 0);*/
    /*border-bottom-color: #eaeaea;*/
    /*border-width: 12px;*/
    margin-left: -7px
}

.mycart {
    transition: all .2s ease 0s
}

.mycart:hover .tongle {
    cursor: pointer
}

.mycart:hover .tongle .fa:after {
    opacity: 1;
    filter: alpha(opacity=100)
}

.mycart:hover .content {
    display: block;
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    top: 100%
}

.mycart .tongle {
    font-size: 100%;
    color: #888;
    transition: all .2s ease 0s
}

.mycart .tongle .fa:before {
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    display: block;
    height: 38px;
    width: 15px;
    line-height: 38px;
    border-radius: 4px;
    text-align: center
}

.mycart .tongle .fa:after {
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -6px;
    opacity: 0;
    filter: alpha(opacity=0)
}

.mycart .content ul {
    margin: 0;
    list-style: none;
    padding: 0
}

.mycart .content ul li {
    min-height: 30px;
    line-height: 30px
}

.mycart .content ul li a:hover {
    color: #333
}

.mycart .content ul li i {
    display: none
}

.mycart .content ul li a {
    padding: 0 0 0 10px;
    display: block;
    width: 100%
}

.mycart .content ul li a.selected {
    background: #f5f5f5
}

.mycart .content ul li a:hover {
    background: #ccc
}

.mycart .content ul li:last-child a {
    border: none
}

.mycart {
    /*float: right;*/
    position: relative;
    /*line-height: -50px;*/
    /*padding-left: 16px*/
}

.mycart:before {
    position: absolute;
    content: "";
    background: #eaeaea;
    width: 1px;
    height: 21px;
    top: 14px;
    left: 0
}

.mycart:hover .tongle {
    cursor: pointer
}

.mycart:hover .tongle .fa:after {
    opacity: 1;
    filter: alpha(opacity=100)
}

.mycart:hover .content {
    display: block;
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    top: 100%
}

.mycart .tongle {
    color: #666 !important
}

.mycart .tongle span {
    font-size: 12px
}

.mycart .tongle .total-itemprice span {
    color: #333
}

.mycart .tongle .summary .amount span {
    color: #fbea2a
}

.mycart .tongle .summary .subtotal {
    display: none
}

.mycart .tongle .summary .price {
    color: #333
}

.mycart .tongle .fa {
    position: relative;
    color: #666 !important;
    margin-right: 10px;
    float: left;
    font-size: 14px;
    line-height: 31px
}

.mycart .tongle .fa:before {
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    display: block;
    text-align: center
}

.mycart .tongle .fa:after {
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -6px;
    opacity: 0;
    filter: alpha(opacity=0)
}

.mycart .tongle .summary {
    display: inline-block
}

.mycart .tongle .summary span a {
    color: #666
}

.mycart .tongle .summary .subtotal span.price {
    color: #333
}

.mycart .content {
    display: none;
    position: absolute;
    top: 110%;
    right: 0;
    min-width: 300px;
    background: #fff;
    z-index: 9999;
    padding: 20px 20px 5px 20px;
    /*border: 1px solid #eaeaea;*/
    visibility: hidden;
    display: block;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
    filter: alpha(opacity=0);
    top: 120%
}

.mycart .content:after,
.mycart .content:before {
    bottom: 100%;
    left: 20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.mycart .content:after {
    /*border-color: rgba(255, 255, 255, 0);*/
    /*border-bottom-color: #fff;*/
    border-width: 11px;
    margin-left: -6px
}

.mycart .content:before {
    /*border-color: rgba(234, 234, 234, 0);*/
    /*border-bottom-color: #eaeaea;*/
    border-width: 12px;
    margin-left: -7px
}

.mycart .content:after,
.mycart .content:before {
    left: inherit !important;
    right: 20px
}

.mycart .content:after {
    border-width: 10px;
    margin-left: -10px;
    right: 21px !important;
    left: inherit !important
}

.mycart .content:before {
    border-width: 11px;
    margin-left: -11px;
    left: inherit !important;
    right: 20px !important
}

.mycart .content .empty {
    margin-bottom: 0;
    padding-left: 15px;
    line-height: 20px
}

.mycart .content #cart-sidebar {
    /*border-bottom: 1px solid #eaeaea;*/
    padding: 0;
    padding-bottom: 3px;
    margin-bottom: 16px
}

.mycart .content #cart-sidebar li {
    list-style: none;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 20px;
    border-top: none
}

.mycart .content #cart-sidebar li:first-child {
    margin-top: 0
}

.mycart .content #cart-sidebar li .product-image {
    display: inline-block;
    float: left;
    margin-right: 10px
}

.mycart .content #cart-sidebar li .product-image img {
    /*border: 1px solid #eaeaea;*/
    width: 90px
}

.mycart .content #cart-sidebar li .product-details {
    display: inline-block;
    line-height: 20px
}

.mycart .content #cart-sidebar li .product-details>strong,
.mycart .content #cart-sidebar li .product-details>span {
    line-height: 20px
}

.mycart .content #cart-sidebar li .product-details .btn-edit {
    border: none;
    position: absolute;
    top: 5px;
    right: 0;
    display: none
}

.mycart .content #cart-sidebar li .product-details .btn-remove {
    border: none;
    position: absolute;
    top: -4px;
    right: 0
}

.mycart .content #cart-sidebar li .product-details .btn-remove:before {
    content: '\f057';
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 14px
}

.mycart .content #cart-sidebar li .product-details .product-name {
    color: #333333;
    padding-right: 25px;
    margin-bottom: 3px;
    line-height: 20px;
    margin-top: -2px;
    font-size: 13px
}

.mycart .content #cart-sidebar li .product-details .product-name a {
    line-height: 20px
}

.mycart .content #cart-sidebar li .product-details .product-name a:hover {
    color: #fbea2a
}

.mycart .content #cart-sidebar li .product-details .price {
    font-size: 16px;
    font-weight: bold;
    color: #333
}

.mycart .content .cart-subtotal {
    text-align: right;
    margin-bottom: 0;
    padding: 0;
    color: #333;
    line-height: 30px
}

.mycart .content .cart-subtotal .price {
    color: #333;
    font-size: 16px;
    font-weight: bold
}

.mycart .content .cart-subtotal .label {
    padding-right: 0;
    margin-right: 2px;
    color: #666;
    font-size: 14px
}

.mycart .content .actions {
    text-align: right;
    margin-bottom: 5px;
    margin-top: 13px;
    padding-top: 10px
}

.mycart .content .actions a {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    height: 35px;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    line-height: 35px;
    background: #fff
}

.mycart .content .actions a .fa {
    margin-right: 5px
}

.mycart .content .actions a:hover {
    background: #fbea2a;
    color: #fff;
}

.mycart .content .actions a:hover a {
    color: #fff
}

.mycart .content .actions a.go-to-cart {
    margin-right: 10px
}

.mycart .content ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.mycart .content ul li {
    padding: 4px 0
}

.mycart .content { font-size : 12px !important}

.hidetext {
    width: 100%;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}

/*@media (min-width:34em) {*/
/*.mkc_product-group > .mkc_product-group-item*/
/*{*/
/*!*width: 29%;*!*/
/*flex-wrap: wrap;*/
/*flex: initial;*/
/*}*/
/*}*/

.mkc_product-group-item a {
    text-decoration: none ;
}

/*.mkc_table-body .mkc_table-body-item {*/
/*border: 0.0px solid #cacaca !important;*/
/*}*/

.modal-dialog {
    width: auto !important;
}

.modal-dialog iframe {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

.modal-body {
    height: 470px;
}

.modal-header {
    padding: 10px;
}

.modal-footer {
    padding: 5px;
}

@media only screen and (min-width: 801px) {
    #myModal {
        width: 47%;
        margin: auto;
    }
}

@media only screen and (max-width: 800px) {
    #myModal {
        width: 55%;
        margin: auto;
    }
}

@media only screen and (max-width: 650px) {
    #myModal {
        width: 76%;
        margin: auto;
    }
}

@media only screen and (max-width: 550px) {
    #myModal {
        width: 100%;
        margin: auto;
    }
}

.qty-container {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    margin-right: 18px;
    /* border: 1px solid #ddd; */
}

.qty-container a.qty-decrease {
    background: url(../images/qty-a.png);
    background-position: center;
    background-repeat: no-repeat;
}

.qty-container a {
    display: inline-block;
    vertical-align: middle;
    border: none;
    color: #333;
    width: 35px;
    height: 35px;
    padding: 0;
    font-size: 18px;
    float: left;
    font-weight: bold;
    border-radius: 0px;
    background: none;
    font-family: Times New Roman !important;
    border: 1px solid #eaeaea;
}

.qty-container a.qty-increase {
    background: url(../images/qty-b.png);
    background-position: center;
    background-repeat: no-repeat;
}

.qty-container input.qty {
    width: 35px;
    height: 35px;
    width: 38px;
    text-align: center;
}

.qty-container input {
    display: inline-block;
    vertical-align: middle;
    background: none;
    float: left;
    border: none;
    font-weight: bold;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 35px;
    width: 35px;
}

.img-zoom {
    /*width:310px;*/
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

.transition {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}

/* these styles are for the demo, but are not required for the plugin */
.zoom {
    display:inline-block;
    position: relative;
}

/* magnifying glass icon */
.zoom:after {
    content:'';
    display:block;
    width:33px;
    height:33px;
    position:absolute;
    top:0;
    right:0;
    background:url(../images/icon.png);
}

.zoom img {
    display: block;
}

.zoom img::selection { background-color: transparent; }

.ex2 img:hover { cursor: url(../images/grab.cur), default; }
.ex2 img:active { cursor: url(../images/grabbed.cur), default; }

/* ==========================================================================
   27. Cart Page
   ========================================================================== */

/*
 * 27.1. Shopping Cart Table
 */
.table-responsive {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%
}
table.cart-table { margin-bottom: 35px }
.cart-table thead tr th {
    border-bottom: 1px solid #e5e5e5;
    border-collapse: collapse;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    height: 49px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle
}
.cart-table tbody tr td {
    border-bottom: 1px solid #e5e5e5;
    border-collapse: collapse;
    color: #333333;
    font-size: 13px;
    font-weight: normal;
    padding: 35px 38px
}
.cart-table tbody tr td img {
    height: auto;
    width: 100px;
    max-width: 110px
}
.cart-table tbody tr td i { font-size: 18px }
.cart-table span { color: #666666 }
.product-cart .cart-subtotal {
    font-weight: 700;
    font-size: 14px
}
.product-cart .shoping-cart-table .cart-table .numbers-row {
    max-width: 60px;
    width: 58px
}
.product-cart .shoping-cart-table .cart-table .numbers-row input[type="text"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #636363;
    float: left;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    padding: 0;
    text-align: center;
    width: 40px
}
.product-cart .shoping-cart-table .cart-table .numbers-row .nbutton {
    background: #000000 none repeat scroll 0 0;
    color: #ffffff;
    cursor: pointer;
    float: left;
    font-size: 16px;
    height: 15px;
    line-height: 14px;
    margin-top: 2px;
    text-align: center;
    width: 15px
}
.product-cart .cart-totals-row {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 60px;
    overflow: hidden;
    padding-bottom: 30px
}
.product-cart .cart-totals h2 {
    color: #000000;
    display: block;
    float: right;
    font-size: 36px;
    margin: 0 0 20px;
    text-transform: uppercase;
    width: 100%
}
.product-cart .cart-totals ul li { margin-bottom: 15px }
.product-cart .cart-totals ul li span {
    color: #333333;
    float: right
}
.cartSubT { color: #666666 }
.cartGrandT {
    color: #666666;
    font-size: 16px
}
.cart-totals a.readmore {
    float: right;
    margin-bottom: 20px
}
.cart-totals .multiCheckout {
    color: #666666;
    display: block;
    overflow: hidden;
    width: 100%
}
.cart-totals-row .buttons-cart {
    margin: 0 0 35px;
    width: 100%
}
.cart-totals-row .buttons-cart .submit {
    float: left;
    margin-right: 15px
}
.cart-totals-row .buttons-cart .continue {
    height: 36px;
    line-height: 36px
}
.cart-totals-row .coupon h3 {
    font-size: 14px;
    margin: 0 0 20px;
    text-transform: uppercase
}
.loginarea {
    margin-bottom: 40px;
    width: 100%
}
.cart-totals-row .coupon .input-text,
.customer-login .c-login input {
    border: 1px solid #e5e5e5;
    float: left;
    height: 36px;
    margin: 0 6px 20px 0;
    max-width: 100%;
    padding: 0 0 0 10px;
    width: 170px
}
.customer-login { margin-bottom: 70px }
.customer-login .c-login h3 {
    color: #333333;
    font-size: 13px;
    margin-bottom: 20px
}
.customer-login .c-login input {
    color: #333333;
    margin-bottom: 25px;
    width: 200px
}
.customer-login a.checkPageBtn {
    float: left;
    margin-bottom: 0;
    margin-right: 30px
}
.customer-login .loginarea p {
    float: left;
    line-height: 35px;
    margin-right: 10px
}
.customer-login .loginarea input { margin-top: 12px }
.forgetuser .fgetpass {
    display: inline;
    font-size: 13px;
    margin-right: 40px
}


/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    .cart-table table, thead, tbody, th, td, tr {
        display: block;
    }

    .cart-top thead {
        display: none;
    }


    /* Hide table headers (but not display: none;, for accessibility) */
.cart-table thead tr {
     position: absolute;
     top: -9999px;
     left: -9999px;
 }

    .cart-table tr { border: 1px solid #ccc; }

    .cart-table td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    .cart-table td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
    */
    .cart-table td:nth-of-type(1):before { content: "Product"; }
    .cart-table td:nth-of-type(2):before { content: "Items"; }
    .cart-table td:nth-of-type(3):before { content: "Qty"; }
    .cart-table td:nth-of-type(4):before { content: "Amount"; }
    .cart-table td:nth-of-type(5):before { content: "Remove"; }

    /*.cart-top td:nth-of-type(1):before { content: "Pic"; }*/
    /*.cart-top td:nth-of-type(2):before { content: "Name"; }*/
    /*.cart-top td:nth-of-type(3):before { content: "X"; }*/
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    /*body {*/
    /*padding: 0;*/
    /*margin: 0 auto;*/
    /*width: 320px; }*/
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /*body {*/
    /*width: 495px;*/
    /*}*/
}

.white-popup-block {
    background: #FFF;
    padding: 20px 30px;
    text-align: left;
    max-width: 650px;
    margin: 40px auto;
    position: relative;
}

a { text-decoration: none !important;}

.svg-image {
    width: 25px;
}

.rounded {
    height: 100%;
    border-radius: 999px;
    overflow: hidden;
    transform: translateZ(0);
}

.progress-container {
    position: relative;
}

.progress {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: #ADACAC;
    border-radius: 99px;
}

.progress-bar {
    position: relative;
    height: 100%;
    background-color: #fbea2a;
    transition: width .2s linear;
}

.progress .progress-bar {
    position: relative;
    height: 100%;
    background-color: #fbea2a;
    transition: width .2s linear;
}

.progress .progress-number {
    position: absolute;
    left: 0;
    top: 0;
    transition: transform .2s linear;
}

.progress .progress-number:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    transform: translateX(-50%);
    border-top: 5px solid #525961;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.progress .progress-number:after {
    content: attr(aria-valuenow);
    position: absolute;
    left: 0;
    top: -10px;
    transform: translate(-50%, -100%);
    padding: 4px 10px;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    background-color: #525961;
    border-radius: 3px;
}


.text-uppercase {
    text-transform: uppercase;
}

.card-header {
    background: #fbea2a !important;
    border-top-right-radius: 6px !important;
    border-top-right-radius: 6px !important;
}

/*body{}*/

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;margin:40px;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

[data-notify="progressbar"] {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
}